.about-image {
    background-image: url(../../../img/About-IMG.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 115vw;
}

.about-classification {
    @extend .about-image;
    background-image: url(../../../img/Brand-class.svg);
    height: 110vw;
}

@media screen and (min-width: 1024px) {
    .about-image {
        display: none;
    }

    .about-classification {
        @extend .about-image;
        display: block;
        background-image: url(../../../img/Brand-class.svg);
        height: 100%;
        grid-area: about-brand;
    }
}