@import "../abstracts/variables";

.about-description {
    padding: 15% 8.5%;

    &__title {
        color: $color-white;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2rem;
    }

    &__text {
        color: $color-body-dark;
        font-size: 0.9375rem;
        line-height: 1.75rem;
        padding: 15% 0 15%;
    }
}

@media screen and (min-width: 1024px) {
    .about-description {
        grid-area: about-content;
        padding: 5% 0 0 11.5vw;
    }
}