@import "../abstracts/variables";
@import "hero-section";

.about-section {
    background-color: $color-dark;

    .about-header {
        padding: 20% 8.5% 10% 8.5%;

        &__logo {
            display: none;
        }

        &__index {
            color: $color-deactive;
            font-size: 0.875rem;
            font-weight: 600;
        }

        &__heading {
            display: inline;
            color: $color-white;
            font-size: 0.875rem;
            font-weight: 600;
            margin-left: 20px;
        }

        &__title {
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 3rem;
            color: $color-white;
            padding: 5% 10% 0 0;
        }

        &__buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10% 0
        }

        &__select {
            padding: 0 15vw 0;
            background-color: transparent;
            color: $color-white;
            font-size: 0.75rem;
            font-weight: 600;
            border: none;
        }
    }

    .about-tablet__select {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .about-section {
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 0px; 

        display: grid; 
        grid-template-columns: auto 1fr 0.9fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "about-select about-header about-header"
            "about-select about-header about-header"
            "about-select about-content about-brand"; 

        background-color: $color-white;
        height: 125vw;
        width: 100vw;
        background-image: url(../../../img/About-IMG-Tablet.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 100% 100%;
    
        .about-header {
            padding: 15% 8.5% 10% 11.5vw;
            grid-area: about-header;

            &__logo {
                display: inline;
            }
    
            &__index {
                font-size: 1rem;
            }
    
            &__heading {
                font-size: 1rem;
            }
    
            &__title {
                font-size: 3rem;
                line-height: 3.5rem;
                width: 70%;
                display: inline-block;
            }
    
            &__buttons {
                display: inline-block; 
                padding: 0; 
                position: absolute;
                margin-top: 2vh;
            }
    
            &__select {
                display: none;
            }
        }
    }

    .about-tablet__select {
        display: block !important;
        grid-area: about-select;
        padding-left: 10vw;

        .about-tablet__logo img {
            margin-top: 13vw;
        }

        .about-tablet__container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 43vw;
            margin-top: 18.7vw;
        }

        .about-tablet__option {
            color: $color-deactive;
            font-size: 0.75rem;
            font-weight: 600;

            &:hover {
                color: $color-white;
                display: flex;
                align-items: center;
                position: relative;
                cursor: pointer;

                &::before {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    right: 60px;
                    background: url(../../../img/about-line.svg) no-repeat;
                    height: 2px;
                    width: 30px;
                }

                &::after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    left: 35px;
                    background: url(../../../img/about-point-line.svg) no-repeat;
                    height: 15px;
                    width: 150px;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .about-section {
    
        .about-header {
    
            &__index {
                font-size: 1.125rem;
            }
    
            &__heading {
                font-size: 1.125rem;
            }
    
            &__title {
                font-size: 4rem;
                line-height: 4.5rem;
            }
    
            &__buttons {
                margin-top: 3vh;
            }
        }
    }

    .about-tablet__select {

        .about-tablet__logo img {
            margin-top: 13vw;
        }

        .about-tablet__container {
            margin-top: 19.5vw;
        }

        .about-tablet__option {
            font-size: 1.125rem;

            &:hover {

                &::before {
                    right: 100px;
                }

                &::after {
                    left: 50px;
                    background: url(../../../img/about-point-line-desktop.svg) no-repeat;
                    height: 16px;
                    width: 200px;
                }
            }
        }
    }
}