@import "../abstracts/variables";
@import "../abstracts/mixins/heading";

.cta-header {
    padding: 15% 0 0 20%;
    @include heading($color-white, $color-white);

    &__title {
        font-size: 3rem;
        font-weight: 700;
        line-height: 3.5rem;
        color: $color-white;
        padding: 10% 10% 0 0;
    }
}

@media screen and (min-width: 1024px) {
    .cta-header {
        padding: 17% 0 0 52.1%;

        &__index {
            font-size: 1rem;
        }
    
        &__heading {
            font-size: 1rem;
        }
    
        &__title {
            padding: 6% 10% 0 0;
            width: 52.5%;
        }

        &__button {
            width: 16%;
            margin-top: 7%;
        }
    }
}