@import "../abstracts/variables.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12.8% 8.5%;
}

.menu {
    background-image: url(../../../img/Menu-BG.svg);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    position: fixed;

    &--active {
        display: block;
    }

    &--hidden-overflow {
        overflow: hidden;
    }

    .menu-header {
        @extend .header;
    }

    .menu-list {
        display: flex;
        flex-direction: column;
        padding: 15vh 8.5% 0;

        @media screen and (min-width: 768px) {
            padding: 5vh 8.5% 0;
        }

        &__link {
            color: $color-shade-mobile-menu;
            text-decoration: none;
            font-size: 2rem;
            font-weight: 700;
            padding-bottom: 15%;

            @media screen and (min-width: 768px) {
                padding-bottom: 10%;
            }

            &--active {
                color: $color-white;
            }
        }

        &__button {
            display: none;
        }
    }

    .menu-social {
        display: flex;
        padding: 15vh 8.5%;

        @media screen and (min-width: 768px) {
            padding: 10vh 8.5% 0 8.5%;
        }

        &__item:not(:first-child) {
            margin-left: 2rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    
    .header {
        padding: 5%;

        &__menu {
            display: none;
        }
    }

    .menu {
        background-image: none;
        width: 100%;
        height: auto;
        position: static;
        display: block;
        margin-left: 15%;
    
        .menu-header {
            display: none;
        }
    
        .menu-list {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0;
    
            &__link {
                color: $color-body-dark;
                font-size: 1rem;
                font-weight: 600;
                padding-bottom: 0;

                &:first-child {
                    order: 2;
                }

                &:nth-child(2) {
                    order: 1;
                }

                &:nth-child(3) {
                    order: 3;
                }

                &:nth-child(4) {
                    order: 4;
                }

                &--notification {
                    display: flex;
                    align-items: center;

                    &::after {
                        content: "";
                        background-image: url(../../../img/jobs-notification.svg);
                        height: 24px;
                        width: 24px;
                        margin: 0 0 20px 10px;
                        display: inline-block;
                    }
                }

                &:hover {
                    color: $color-button;
                }
            }

            &__button {
                display: inline-block;
                background-color: $color-dark;
                order: 5;

                &:hover {
                    background-color: $color-button-shadow;
                }
            }
        }
    
        .menu-social {
            display: none;
        }
    }
}

@media screen and (min-width: 1440px) {

    .menu {
    
        .menu-list {
    
            &__link {

                &:nth-child(2) {
                    margin-left: 5vw;
                }

                &--notification {
                    margin-right: 10vw;
                }
            }
        }
    }
}