@import "../abstracts/variables";

.services-achievement {
    margin: 0 8.5%;

    @include heading($color-deactive, $color-dark);

    &__title {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2rem;
        color: $color-dark;
        padding: 5% 30% 20% 0;
    }

    &__number {
        background: url(../../../img/Number-achievement.svg) no-repeat;
        height: 110px;
        width: 100%;
        display: block;
    }

    &__text {
        font-size: 1.125rem;
        font-weight: 600;
        display: flex;
        gap: 15px;
        padding: 10% 0;

        &::before {
            content: "😎";
        }
    }

    &__carousel {
        position: relative;
    }

    &__image {
        background-image: url(../../../img/Phone-achievement.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 65vh;
        width: 85vw;
    }
}

@media screen and (min-width: 1024px) {
    .services-achievement {
        margin: 0 8.5%;
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-areas: 
            "achievement-image achievement-content"
            "achievement-image achievement-content"
            "achievement-image achievement-content"; 

        &__content {
            grid-area: achievement-content;
            margin-top: 7vh;
        }

        &__index {
            font-size: 1rem;
            padding-top: 10px;
            position: relative;
            margin-left: 13vw;

            &::before {
                content: "";
                background-image: url(../../../img/logo-symbol.svg);
                height: 24px;
                width: 24px;
                position: absolute;
                left: -130px;
                bottom: 0px;
            }
        }

        &__heading {
            font-size: 1rem;
        }
    
        &__title {
            padding: 10% 0 20% 0;
        }
    
        &__text {
            font-size: 1.125rem;
        }
    
        &__carousel {
            grid-area: achievement-image;
        }
    
        &__image {
            width: 35vw;
        }
    }
}

@media screen and (min-width: 1440px) {
    .services-achievement {


        &__index {
            font-size: 1.125rem;
        }

        &__heading {
            font-size: 1.125rem;
        }
    
        &__title {
            font-size: 2rem;
            font-weight: 2.5rem;
            padding: 10% 0 20% 0;
        }
    
        &__text {
            font-size: 1.5rem;
        }
    
        &__image {
            height: 50vw;
        }
    }
}