@import "../abstracts/variables";
@import "../abstracts/mixins/heading";

.services-header {
    padding: 5% 8.5% 6% 8.5%;

    @include heading($color-button, $color-button);

    &__title {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 3rem;
        color: $color-dark;
        padding: 5% 10% 0 0;
    }

    &__buttons {
        padding: 10% 0;
    }
}

@media screen and (min-width: 1024px) {
    .services-header {
        padding: 11% 8.5% 9% 24.5vw;

        &__index {
            font-size: 1rem;
            position: relative;

            &::before {
                content: "";
                background-image: url(../../../img/logo-symbol-purple.svg);
                height: 24px;
                width: 24px;
                position: absolute;
                left: -160px;
                bottom: -10px;
            }
        }
    
        &__heading {
            font-size: 1rem;
        }
    
        &__title {
            font-size: 3rem;
            line-height: 3.5rem;
            width: 75%;
        }
    
        &__buttons {
            padding: 0;
            display: inline-block;
            position: absolute;
            top: 35vh;
            right: 8vw;
        }
    }
}

@media screen and (min-width: 1440px) {
    .services-header {

        &__index {
            font-size: 1.125rem;
        }
    
        &__heading {
            font-size: 1.125rem;
        }
    
        &__title {
            font-size: 4rem;
            line-height: 4.5rem;
        }
    
        &__buttons {
            top: 50vh;
        }
    }
}