@import "../abstracts/variables";
@import "../abstracts/mixins/heading";

.work-header {
    padding: 0 8.5%;

    @include heading($color-button, $color-button);

    &__title {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 3rem;
        color: $color-dark;
        padding: 5% 10% 0 0;
    }

    &__text {
        padding: 5% 0;
        line-height: 1.75rem;
        color: $color-body-light;
    }
}

@media screen and (min-width: 1024px) {
    .work-header {
        padding: 0 0 0 21vw;

        &__index {
            font-size: 1rem;
            position: relative;

            &::before {
                content: "";
                background-image: url(../../../../img/logo-symbol.svg);
                height: 24px;
                width: 24px;
                position: absolute;
                right: 12.5vw;
            }
        }
    
        &__heading {
            font-size: 1rem;
        }
    
        &__title {
            font-size: 4rem;
            line-height: 3.5rem;
            padding: 5% 10% 0 0;
        }
    
        &__text {
            padding: 5% 0;
            width: 45%;
        }
    }
}