@import "../abstracts/variables";
@import "../abstracts/mixins/heading";

.work-header {
    padding: 0 8.5%;

    @include heading($color-button, $color-button);

    &__title {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 3rem;
        color: $color-dark;
        padding: 5% 10% 0 0;
    }

    &__text {
        padding: 5% 0;
        line-height: 1.75rem;
        color: $color-body-light;
    }
}