@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import '../abstracts/variables.scss';

html {
    font-size: 16px;
    font-weight: 400;
    font-family: $font;
}