//Font
$font: 'Roboto', sans-serif;

//Colors
$color-dark: #232340;
$color-body-light: #606060;
$color-white: #FFFFFF;
$color-button: #5468E7;
$color-blue-gradient: linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
$color-stroke: #D8D8D8;
$color-deactive: #ADADAD;
$color-shade-mobile-menu: #595976;
$color-body-dark: #8B8B8B;
$color-shadow: rgb(237, 237, 237, 0.5);
$color-button-shadow: #323259;