@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "../abstracts/variables.css";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.button, .footer .footer-contact .light-button, .light-button {
  background-color: #5468E7;
  padding: 1rem 2.5rem;
  font-weight: 600;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 8px;
}

.circular-button {
  background: transparent;
  border: none;
  padding: 0;
}

.button-left, .button-right {
  display: inline-block;
  background-image: url(../../../img/Button-left.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 48px;
  width: 48px;
}

.button-right {
  background-image: url(../../../img/Button-right.svg);
  margin-left: 15px;
}

.work__button {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 10%;
}

.button, .footer .footer-contact .light-button, .light-button {
  background-color: #5468E7;
  padding: 1rem 2.5rem;
  font-weight: 600;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 8px;
}

.light-button {
  display: inline-block;
  background-color: #FFFFFF;
  color: #5468E7;
  width: 60%;
  font-weight: 600;
}

.hero-container, .about-container, .jobs-container {
  height: 100vh;
  width: 100vw;
  background-image: url(../../../img/Hero-BG.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
}

.hero-container--margin {
  margin-bottom: 15%;
}

@media screen and (min-width: 1024px) {
  .hero-container, .about-container, .jobs-container {
    height: 90vh;
    background-image: url(../../../img/Hero-BG-Tablet.svg);
  }
  .hero-container--margin {
    margin-bottom: 10%;
  }
}
.header, .menu .menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12.8% 8.5%;
}

.menu {
  background-image: url(../../../img/Menu-BG.svg);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  position: fixed;
}
.menu--active {
  display: block;
}
.menu--hidden-overflow {
  overflow: hidden;
}
.menu .menu-list {
  display: flex;
  flex-direction: column;
  padding: 15vh 8.5% 0;
}
.menu .menu-list__link {
  color: #595976;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 15%;
}
.menu .menu-list__link--active {
  color: #FFFFFF;
}
.menu .menu-list__button {
  display: none;
}
.menu .menu-social {
  display: flex;
  padding: 15vh 8.5%;
}
.menu .menu-social__item:not(:first-child) {
  margin-left: 2rem;
}

@media screen and (min-width: 1024px) {
  .header, .menu .menu-header {
    padding: 5%;
  }
  .header__menu {
    display: none;
  }
  .menu {
    background-image: none;
    width: 100%;
    height: auto;
    position: static;
    display: block;
    margin-left: 15%;
  }
  .menu .menu-header {
    display: none;
  }
  .menu .menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  .menu .menu-list__link {
    color: #8B8B8B;
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 0;
  }
  .menu .menu-list__link:first-child {
    order: 2;
  }
  .menu .menu-list__link:nth-child(2) {
    order: 1;
  }
  .menu .menu-list__link:nth-child(3) {
    order: 3;
  }
  .menu .menu-list__link:nth-child(4) {
    order: 4;
  }
  .menu .menu-list__link--notification {
    display: flex;
    align-items: center;
  }
  .menu .menu-list__link--notification::after {
    content: "";
    background-image: url(../../../img/jobs-notification.svg);
    height: 24px;
    width: 24px;
    margin: 0 0 20px 10px;
    display: inline-block;
  }
  .menu .menu-list__link:hover {
    color: #5468E7;
  }
  .menu .menu-list__button {
    display: inline-block;
    background-color: #232340;
    order: 5;
  }
  .menu .menu-list__button:hover {
    background-color: #323259;
  }
  .menu .menu-social {
    display: none;
  }
}
.hero-section {
  padding: 0 8.5%;
}
.hero-section__title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  color: #232340;
}
.hero-section__text {
  padding: 2rem 0;
  line-height: 1.75rem;
  color: #606060;
}

@media screen and (min-width: 1024px) {
  .hero-section {
    padding: 0 10%;
  }
  .hero-section__title {
    font-size: 4rem;
    line-height: 4.5rem;
    width: 50%;
    padding-top: 3.5%;
  }
  .hero-section__text {
    padding: 3% 0 6% 0;
    width: 40%;
  }
}
.footer {
  text-align: center;
}
.footer .footer-contact {
  background-image: url(../../../img/Footer-BG.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 8.5% 8.5% 0;
  padding: 8% 0;
  border-radius: 24px;
  @import "../abstracts/variables.css";
}
.footer .footer-contact__hello {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer .footer-contact__bubble {
  width: 73px;
  height: 65px;
  background-image: url(../../../img/Speach-bubble.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin: 12.8% 0 0 15%;
}
.footer .footer-contact__text {
  color: #FFFFFF;
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.footer .footer-contact__text::before {
  content: "👋";
  font-size: 0.875rem;
}
.footer .footer-contact__subtitle {
  color: #FFFFFF;
  font-size: 1.125rem;
  line-height: 1.5rem;
  padding: 12% 12% 10% 12%;
}
.footer .footer-contact__title {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  padding: 15% 10%;
}
.footer .footer-contact .button, .footer .footer-contact .light-button {
  background-color: #5468E7;
  padding: 1rem 2.5rem;
  font-weight: 600;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 8px;
}
.footer .footer-contact .light-button {
  display: inline-block;
  background-color: #FFFFFF;
  color: #5468E7;
  width: 60%;
  font-weight: 600;
}
.footer .footer-content {
  background-image: url(../../../img/Footer-Content-BG.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 10% 10%;
}
.footer .footer-content__logo {
  padding-top: 45%;
}
.footer .footer-content__text {
  color: #ADADAD;
  padding: 15% 7%;
  line-height: 1.75rem;
}
.footer .footer-content__select {
  display: inline-block;
  background-color: transparent;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #D8D8D8;
  color: #606060;
}
.footer .footer-content__social-list {
  display: flex;
  justify-content: center;
  padding: 15% 0;
}
.footer .footer-content__social-list li {
  margin-left: 8px;
}
.footer .footer-content__copyright {
  font-size: 0.75rem;
  font-weight: 600;
  color: #ADADAD;
}

.hero-container, .about-container, .jobs-container {
  height: 100vh;
  width: 100vw;
  background-image: url(../../../img/Hero-BG.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
}

.hero-container--margin {
  margin-bottom: 15%;
}

@media screen and (min-width: 1024px) {
  .hero-container, .about-container, .jobs-container {
    height: 90vh;
    background-image: url(../../../img/Hero-BG-Tablet.svg);
  }
  .hero-container--margin {
    margin-bottom: 10%;
  }
}
.about-container, .jobs-container {
  height: auto;
  background-image: none;
}

.hero-section {
  padding: 0 8.5%;
}
.hero-section__title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  color: #232340;
}
.hero-section__text {
  padding: 2rem 0;
  line-height: 1.75rem;
  color: #606060;
}

@media screen and (min-width: 1024px) {
  .hero-section {
    padding: 0 10%;
  }
  .hero-section__title {
    font-size: 4rem;
    line-height: 4.5rem;
    width: 50%;
    padding-top: 3.5%;
  }
  .hero-section__text {
    padding: 3% 0 6% 0;
    width: 40%;
  }
}
.about-section {
  background-color: #232340;
}
.about-section .about-header {
  padding: 20% 8.5% 10% 8.5%;
}
.about-section .about-header__logo {
  display: none;
}
.about-section .about-header__index {
  color: #ADADAD;
  font-size: 0.875rem;
  font-weight: 600;
}
.about-section .about-header__heading {
  display: inline;
  color: #FFFFFF;
  font-size: 0.875rem;
  font-weight: 600;
  margin-left: 20px;
}
.about-section .about-header__title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  color: #FFFFFF;
  padding: 5% 10% 0 0;
}
.about-section .about-header__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10% 0;
}
.about-section .about-header__select {
  padding: 0 15vw 0;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 0.75rem;
  font-weight: 600;
  border: none;
}
.about-section .about-tablet__select {
  display: none;
}

@media screen and (min-width: 1024px) {
  .about-section {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    display: grid;
    grid-template-columns: auto 1fr 0.9fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "about-select about-header about-header" "about-select about-header about-header" "about-select about-content about-brand";
    background-color: #FFFFFF;
    height: 125vw;
    width: 100vw;
    background-image: url(../../../img/About-IMG-Tablet.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 100%;
  }
  .about-section .about-header {
    padding: 15% 8.5% 10% 11.5vw;
    grid-area: about-header;
  }
  .about-section .about-header__logo {
    display: inline;
  }
  .about-section .about-header__index {
    font-size: 1rem;
  }
  .about-section .about-header__heading {
    font-size: 1rem;
  }
  .about-section .about-header__title {
    font-size: 3rem;
    line-height: 3.5rem;
    width: 70%;
    display: inline-block;
  }
  .about-section .about-header__buttons {
    display: inline-block;
    padding: 0;
    position: absolute;
    margin-top: 2vh;
  }
  .about-section .about-header__select {
    display: none;
  }
  .about-tablet__select {
    display: block !important;
    grid-area: about-select;
    padding-left: 10vw;
  }
  .about-tablet__select .about-tablet__logo img {
    margin-top: 13vw;
  }
  .about-tablet__select .about-tablet__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 43vw;
    margin-top: 18.7vw;
  }
  .about-tablet__select .about-tablet__option {
    color: #ADADAD;
    font-size: 0.75rem;
    font-weight: 600;
  }
  .about-tablet__select .about-tablet__option:hover {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .about-tablet__select .about-tablet__option:hover::before {
    content: "";
    display: inline-block;
    position: absolute;
    right: 60px;
    background: url(../../../img/about-line.svg) no-repeat;
    height: 2px;
    width: 30px;
  }
  .about-tablet__select .about-tablet__option:hover::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 35px;
    background: url(../../../img/about-point-line.svg) no-repeat;
    height: 15px;
    width: 150px;
  }
}
.about-image, .about-classification {
  background-image: url(../../../img/About-IMG.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 115vw;
}

.about-classification {
  background-image: url(../../../img/Brand-class.svg);
  height: 110vw;
}

@media screen and (min-width: 1024px) {
  .about-image, .about-classification {
    display: none;
  }
  .about-classification {
    display: block;
    background-image: url(../../../img/Brand-class.svg);
    height: 100%;
    grid-area: about-brand;
  }
}
.about-description {
  padding: 15% 8.5%;
}
.about-description__title {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}
.about-description__text {
  color: #8B8B8B;
  font-size: 0.9375rem;
  line-height: 1.75rem;
  padding: 15% 0 15%;
}

@media screen and (min-width: 1024px) {
  .about-description {
    grid-area: about-content;
    padding: 5% 0 0 11.5vw;
  }
}
.services-container {
  background-image: url(../../../img/Services-BG.svg);
  background-size: cover;
  background-position: 100% 35%;
  background-repeat: no-repeat;
  height: auto;
  width: 100vw;
}

.services-header {
  padding: 5% 8.5% 6% 8.5%;
}
.services-header__index {
  color: #5468E7;
  font-size: 0.875rem;
  font-weight: 600;
}
.services-header__heading {
  display: inline;
  color: #5468E7;
  font-size: 0.875rem;
  font-weight: 600;
  margin-left: 20px;
}
.services-header__button {
  width: 26%;
  margin-top: 10%;
}
.services-header__title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  color: #232340;
  padding: 5% 10% 0 0;
}
.services-header__buttons {
  padding: 10% 0;
}

.services-objectives {
  margin: 0 8.5% 20%;
}
.services-objectives__card {
  background-color: #FFFFFF;
  height: 23.4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  box-shadow: 0px 9px 0px 1px #EDEDED, 0px 0px 0px 1px #EDEDED, 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 8%;
}
.services-objectives__card h5 {
  display: flex;
  align-items: center;
  gap: 35px;
  font-size: 1.125rem;
  color: #5468E7;
  font-weight: 600;
}
.services-objectives__card:first-child h5::before {
  content: "";
  background: url("../../../img/Strategy-icon.svg") no-repeat;
  height: 92px;
  width: 92px;
  display: inline-block;
}
.services-objectives__card:nth-child(2) h5::before {
  content: "";
  background: url("../../../img/Branding-icon.svg") no-repeat;
  height: 92px;
  width: 92px;
  display: inline-block;
}
.services-objectives__card:nth-child(3) h5::before {
  content: "";
  background: url("../../../img/Interactive-icon.svg") no-repeat;
  height: 92px;
  width: 92px;
  display: inline-block;
}
.services-objectives__card:last-child h5::before {
  content: "";
  background: url("../../../img/Communicate-icon.svg") no-repeat;
  height: 92px;
  width: 92px;
  display: inline-block;
}
.services-objectives__card:hover {
  background-color: #5468E7;
}
.services-objectives__card:hover h5 {
  color: #FFFFFF;
}

.services-achievement {
  margin: 0 8.5%;
}
.services-achievement__index {
  color: #ADADAD;
  font-size: 0.875rem;
  font-weight: 600;
}
.services-achievement__heading {
  display: inline;
  color: #232340;
  font-size: 0.875rem;
  font-weight: 600;
  margin-left: 20px;
}
.services-achievement__button {
  width: 26%;
  margin-top: 10%;
}
.services-achievement__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: #232340;
  padding: 5% 30% 20% 0;
}
.services-achievement__number {
  background: url(../../../img/Number-achievement.svg) no-repeat;
  height: 110px;
  width: 100%;
  display: block;
}
.services-achievement__text {
  font-size: 1.125rem;
  font-weight: 600;
  display: flex;
  gap: 15px;
  padding: 10% 0;
}
.services-achievement__text::before {
  content: "😎";
}
.services-achievement__carousel {
  position: relative;
}
.services-achievement__image {
  background-image: url(../../../img/Phone-achievement.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 65vh;
  width: 85vw;
}

.hero-container, .about-container, .jobs-container {
  height: 100vh;
  width: 100vw;
  background-image: url(../../../img/Hero-BG.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
}

.hero-container--margin {
  margin-bottom: 15%;
}

@media screen and (min-width: 1024px) {
  .hero-container, .about-container, .jobs-container {
    height: 90vh;
    background-image: url(../../../img/Hero-BG-Tablet.svg);
  }
  .hero-container--margin {
    margin-bottom: 10%;
  }
}
.about-container, .jobs-container {
  height: auto;
  background-image: none;
}

.work-header {
  padding: 0 8.5%;
}
.work-header__index {
  color: #5468E7;
  font-size: 0.875rem;
  font-weight: 600;
}
.work-header__heading {
  display: inline;
  color: #5468E7;
  font-size: 0.875rem;
  font-weight: 600;
  margin-left: 20px;
}
.work-header__button {
  width: 26%;
  margin-top: 10%;
}
.work-header__title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  color: #232340;
  padding: 5% 10% 0 0;
}
.work-header__text {
  padding: 5% 0;
  line-height: 1.75rem;
  color: #606060;
}

.portfolio {
  padding: 12% 8.5% 0;
}
.portfolio__image--featured {
  background-image: url("../../../img/featured-image.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
  width: 100%;
  border-radius: 17.07px;
}
.portfolio__image--first {
  background-image: url("../../../img/first-image.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
  width: 100%;
  border-radius: 17.07px;
}
.portfolio__image--second {
  background-image: url("../../../img/second-image.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
  width: 100%;
  border-radius: 17.07px;
}
.portfolio__image--third {
  background-image: url("../../../img/third-image.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
  width: 100%;
  border-radius: 17.07px;
}
.portfolio__image--fourth {
  background-image: url("../../../img/fourth-image.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
  width: 100%;
  border-radius: 17.07px;
}
.portfolio__image--fifth {
  background-image: url("../../../img/fifth-image.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
  width: 100%;
  border-radius: 17.07px;
}
.portfolio__title {
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 10%;
}
.portfolio__text {
  color: #606060;
  line-height: 1.75rem;
  padding: 10% 0;
}
.portfolio .circular-button-light img {
  padding-bottom: 10%;
}

.cta-section {
  background-image: url(../../../img/Cta-IMG.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 261vw;
}

.cta-header {
  padding: 15% 0 0 20%;
}
.cta-header__index {
  color: #FFFFFF;
  font-size: 0.875rem;
  font-weight: 600;
}
.cta-header__heading {
  display: inline;
  color: #FFFFFF;
  font-size: 0.875rem;
  font-weight: 600;
  margin-left: 20px;
}
.cta-header__button {
  width: 26%;
  margin-top: 10%;
}
.cta-header__title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  color: #FFFFFF;
  padding: 10% 10% 0 0;
}

.hero-container, .about-container, .jobs-container {
  height: 100vh;
  width: 100vw;
  background-image: url(../../../img/Hero-BG.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
}

.hero-container--margin {
  margin-bottom: 15%;
}

@media screen and (min-width: 1024px) {
  .hero-container, .about-container, .jobs-container {
    height: 90vh;
    background-image: url(../../../img/Hero-BG-Tablet.svg);
  }
  .hero-container--margin {
    margin-bottom: 10%;
  }
}
.about-container, .jobs-container {
  height: auto;
  background-image: none;
}

.jobs-container {
  background-image: url("../../../img/Jobs-BG.svg");
}

.jobs-header {
  padding: 0 8.5%;
}
.jobs-header__index {
  color: #5468E7;
  font-size: 0.875rem;
  font-weight: 600;
}
.jobs-header__heading {
  display: inline;
  color: #5468E7;
  font-size: 0.875rem;
  font-weight: 600;
  margin-left: 20px;
}
.jobs-header__button {
  width: 26%;
  margin-top: 10%;
}
.jobs-header__title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  color: #232340;
  padding: 5% 10% 10% 0;
}
.jobs-header__text {
  padding: 5% 0;
  line-height: 1.75rem;
  color: #606060;
}

.jobs-cards {
  padding: 10% 8.5% 3%;
}
.jobs-cards .job-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  height: 23.4vh;
  border-radius: 24px;
  margin-bottom: 8%;
  box-shadow: 0px 0px 0px 1px #EDEDED, 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
}
.jobs-cards .job-card__content {
  padding-left: 15%;
}
.jobs-cards .job-card__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #232340;
}
.jobs-cards .job-card__experience {
  color: #606060;
  padding-top: 8%;
}
.jobs-cards .job-card__link img {
  padding-top: 8%;
}
.jobs-cards .job-card:hover {
  background: url(../../../img/Jobs-card-selected.svg) no-repeat;
  background-size: 100% 100%;
  width: 93vw;
}
.jobs-cards .job-card:hover h5 {
  color: #FFFFFF;
  font-size: 1.4225rem;
}
.jobs-cards .job-card:hover p {
  font-size: 0.8rem;
}
.jobs-cards .job-card:hover img {
  padding-top: 6%;
  content: url(../../../img/jobs-arrow-button-light.svg);
}
.jobs-cards > .job-card:first-child h5 {
  display: flex;
  align-items: center;
  gap: 15px;
}
.jobs-cards > .job-card:first-child h5::after {
  content: "";
  background-image: url("../../../img/jobs-notification.svg");
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: inline-block;
}/*# sourceMappingURL=app.css.map */